---
title: Disable protected DLL verification
description: Disable protected DLL verification
ms.assetid: 28b5c4f8-18d3-44ed-a424-92e8e04dcdbc
keywords:
- 保護された DLL の検証 (グローバル フラグ) を無効にします。
ms.date: 05/23/2017
ms.localizationpriority: medium
ms.openlocfilehash: a55ea3f776d73ebf9afa1c25d5698bee5db3d048
ms.sourcegitcommit: 0cc5051945559a242d941a6f2799d161d8eba2a7
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 04/23/2019
ms.locfileid: "63358549"
---
# <a name="disable-protected-dll-verification"></a>Disable protected DLL verification


## <span id="ddk_disable_protected_dll_verification_dtools"></span><span id="DDK_DISABLE_PROTECTED_DLL_VERIFICATION_DTOOLS"></span>


**無効にするには、DLL の検証が保護されている**GFlags にフラグが表示されますが、Windows 上の影響を与えません。

<table>
<colgroup>
<col width="50%" />
<col width="50%" />
</colgroup>
<tbody>
<tr class="odd">
<td align="left"><p><strong>省略形</strong></p></td>
<td align="left"><p>dpd</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>16 進数の値</strong></p></td>
<td align="left"><p>0x80000000</p></td>
</tr>
<tr class="odd">
<td align="left"><p><strong>シンボリック名</strong></p></td>
<td align="left"><p>FLG_DISABLE_PROTDLLS</p></td>
</tr>
<tr class="even">
<td align="left"><p><strong>Destination (公開先)</strong></p></td>
<td align="left"><p>システム全体のレジストリ エントリ、カーネルのフラグ、イメージ ファイルのレジストリ エントリ</p></td>
</tr>
</tbody>
</table>

 

 

 





